
<div class="content row justify-content-center">
<div class="text-center">
  <form class="form-login" [formGroup] = "form">
    <img class="mb-5" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-4 font-weight-normal">Please sign in</h1>


    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="inputEmail" class="form-control" placeholder="Email address"
    required autofocus email formControlName="email">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="inputPassword" class="form-control" placeholder="Password" formControlName="senha"
    required>



    <div class="checkbox mb-4">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-primary btn-block" type="submit" (click)="onSubmit()">Sign in</button>
  </form>
</div>
</div>
